Exploratary Data Analysis

In [1]:
import string
import io
import pandas as pd

In [2]:
df = pd.read_csv('/Users/h6x/UT/Coursework/2025/Spring 2025/COSC 525 - Data Mining/git/cosc-526-data-engineering-project/data/physionet.org/files/mimiciii/1.4/NOTEEVENTS.csv')

/var/folders/j3/904q7dbj02j_jyjz7pvfgz384d40kw/T/ipykernel_6503/2508618875.py:1: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/h6x/UT/Coursework/2025/Spring 2025/COSC 525 - Data Mining/git/cosc-526-data-engineering-project/data/physionet.org/files/mimiciii/1.4/NOTEEVENTS.csv')

In [3]:
df.head()

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
0,174,22532,167853.0,2151-08-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-7-16**] Dischar...
1,175,13702,107527.0,2118-06-14,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-6-2**] Discharg...
2,176,13702,167118.0,2119-05-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2119-5-4**] D...
3,177,13702,196489.0,2124-08-18,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2124-7-21**] ...
4,178,26880,135453.0,2162-03-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2162-3-3**] D...

In [4]:
df['CATEGORY'].unique()

array(['Discharge summary', 'Echo', 'ECG', 'Nursing', 'Physician ',
       'Rehab Services', 'Case Management ', 'Respiratory ', 'Nutrition',
       'General', 'Social Work', 'Pharmacy', 'Consult', 'Radiology',
       'Nursing/other'], dtype=object)

In [5]:
# get count of each category
df['CATEGORY'].value_counts()

CATEGORY
Nursing/other        822497
Radiology            522279
Nursing              223556
ECG                  209051
Physician            141624
Discharge summary     59652
Echo                  45794
Respiratory           31739
Nutrition              9418
General                8301
Rehab Services         5431
Social Work            2670
Case Management         967
Pharmacy                103
Consult                  98
Name: count, dtype: int64

In [6]:
mask = df['CATEGORY'] == 'Radiology'
df_radiology = df[mask]

In [7]:
df_radiology.head()

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
657357,738405,93207,104110.0,2166-10-09,2166-10-09 20:24:00,NaN,Radiology,DISTINCT PROCEDURAL SERVICE,NaN,NaN,"[**Last Name (LF) **],[**First Name3 (LF) **] ..."
728603,738661,24552,NaN,2153-01-12,2153-01-12 22:03:00,NaN,Radiology,CHEST (PORTABLE AP),NaN,NaN,[**2153-1-12**] 10:03 PM\n CHEST (PORTABLE AP)...
728604,738662,10390,NaN,2145-03-13,2145-03-13 02:58:00,NaN,Radiology,CT PELVIS W/CONTRAST,NaN,NaN,[**2145-3-13**] 2:58 AM\n CT ABDOMEN W/CONTRAS...
728605,738663,20409,102314.0,2119-03-11,2119-03-11 11:46:00,NaN,Radiology,CT HEAD W/O CONTRAST,NaN,NaN,[**2119-3-11**] 11:46 AM\n CT HEAD W/O CONTRAS...
732765,739777,15017,NaN,2152-07-18,2152-07-18 13:06:00,NaN,Radiology,CHEST (PORTABLE AP),NaN,NaN,[**2152-7-18**] 1:06 PM\n CHEST (PORTABLE AP) ...

In [8]:
df_radiology.shape

(522279, 11)

In [9]:
print("Total number od subjects in Radiology category: ", df_radiology['SUBJECT_ID'].nunique())

Total number od subjects in Radiology category:  37351

In [10]:
print("Total number of notes in Radiology category: ", df_radiology['SUBJECT_ID'].count())

Total number of notes in Radiology category:  522279

In [11]:
print("Total number of procedures in Radiology category: ", len(df_radiology['DESCRIPTION'].value_counts()))

Total number of procedures in Radiology category:  2438

In [12]:
df_radiology['DESCRIPTION'].value_counts()

DESCRIPTION
CHEST (PORTABLE AP)                                    169270
CHEST (PA & LAT)                                        43158
CT HEAD W/O CONTRAST                                    34485
CHEST PORT. LINE PLACEMENT                              21596
PORTABLE ABDOMEN                                         8143
                                                        ...
RP ART DUP EXT UP UNI LMTD RIGHT PORT                       1
CYBER-INS MARKER PANCREAS                                   1
OB WRIST(3 + VIEWS) IN O.R. BILAT                           1
R MR ELBOW W&W/O CONTRATS RIGHT                             1
RO HIP NAILING IN OR W/FILMS & FLUORO RIGHT IN O.R.         1
Name: count, Length: 2438, dtype: int64

In [13]:
df_radiology['DESCRIPTION'].value_counts().head(30)

DESCRIPTION
CHEST (PORTABLE AP)                       169270
CHEST (PA & LAT)                           43158
CT HEAD W/O CONTRAST                       34485
CHEST PORT. LINE PLACEMENT                 21596
PORTABLE ABDOMEN                            8143
CHEST (PRE-OP PA & LAT)                     8064
CT CHEST W/CONTRAST                         8001
CT ABDOMEN W/CONTRAST                       7304
MR HEAD W & W/O CONTRAST                    7062
CT CHEST W/O CONTRAST                       6745
CT C-SPINE W/O CONTRAST                     4840
CT ABDOMEN W/O CONTRAST                     4823
LIVER OR GALLBLADDER US (SINGLE ORGAN)      4761
CTA CHEST W&W/O C&RECONS, NON-CORONARY      4499
ABDOMEN (SUPINE & ERECT)                    4462
BABYGRAM (CHEST ONLY)                       4412
MR HEAD W/O CONTRAST                        3603
BILAT LOWER EXT VEINS                       3443
CAROTID SERIES COMPLETE                     3377
RENAL U.S.                                  2960
CHEST (SINGLE VIEW)                         2929
NEONATAL HEAD PORTABLE                      2914
BY DIFFERENT PHYSICIAN                      2855
CT ABD W&W/O C                              2749
PICC W/O PORT                               2693
BY SAME PHYSICIAN                           2681
CTA HEAD W&W/O C & RECONS                   2622
ABDOMEN U.S. (COMPLETE STUDY)               2346
VIDEO OROPHARYNGEAL SWALLOW                 2293
CTA CHEST W&W/O C &RECONS                   2204
Name: count, dtype: int64

In [14]:
# make df_radiology['DESCRIPTION'].value_counts() a dataframe
df_radiology_procedures = df_radiology['DESCRIPTION'].value_counts().reset_index()

In [15]:
df_radiology_procedures

                                            DESCRIPTION   count
0                                   CHEST (PORTABLE AP)  169270
1                                      CHEST (PA & LAT)   43158
2                                  CT HEAD W/O CONTRAST   34485
3                            CHEST PORT. LINE PLACEMENT   21596
4                                      PORTABLE ABDOMEN    8143
...                                                 ...     ...
2433              RP ART DUP EXT UP UNI LMTD RIGHT PORT       1
2434                          CYBER-INS MARKER PANCREAS       1
2435                  OB WRIST(3 + VIEWS) IN O.R. BILAT       1
2436                    R MR ELBOW W&W/O CONTRATS RIGHT       1
2437  RO HIP NAILING IN OR W/FILMS & FLUORO RIGHT IN...       1

[2438 rows x 2 columns]

In [17]:
# get the rows cointains 'CT' in the 'DESCRIPTION' column
mask = df_radiology_procedures['DESCRIPTION'].str.contains('CT')
df_radiology_procedures[mask]

                              DESCRIPTION  count
2                    CT HEAD W/O CONTRAST  34485
6                     CT CHEST W/CONTRAST   8001
7                   CT ABDOMEN W/CONTRAST   7304
9                   CT CHEST W/O CONTRAST   6745
10                CT C-SPINE W/O CONTRAST   4840
...                                   ...    ...
2385       POSSIS MECHANICAL THROMBECTOMY      1
2392                     CT LOW EXT W/O C      1
2413                B CT UP EXT W/C BILAT      1
2417  CT STEREOTAXIS ABDOMINAL W/CONTRAST      1
2420                   CT LOW EXT W&W/O C      1

[287 rows x 2 columns]

In [18]:
mask = df_radiology_procedures['DESCRIPTION'].str.contains('MRI')
df_radiology_procedures[mask]

                                      DESCRIPTION  count
65                   MRI ABDOMEN W/O & W/CONTRAST    832
196                      MRI ABDOMEN W/O CONTRAST    202
237                   MRI PELVIS W/O & W/CONTRAST    157
308        MRI SOFT TISSUE NECK, W/O & W/CONTRAST     99
340        MRI CHEST/MEDIASTINUM W/O & W/CONTRAST     88
362                       MRI PELVIS W/O CONTRAST     79
425          ORBITS PRE-MRI (WATERS LOOK UP&DOWN)     58
539            MRI CHEST/MEDIASTINUM W/O CONTRAST     37
732            MRI SOFT TISUUE NECK, W/O CONTRAST     21
813                          MRI INCOMPLETE STUDY     16
1006                      MRI BREAST BIL W &W/O C     10
1018                         MRI FAILED SCREENING     10
1199  P ORBITS PRE-MRI (WATERS LOOK UP&DOWN) PORT      6
1214            MRI NASO PHARYNX W & W/O CONTRAST      6
1247             MRI CHEST/MEDIASTINUM W/CONTRAST      6
1544                        MRI PELVIS W/CONTRAST      3
1623            NON-CONTRAST IFIR RENAL ANGIO MRI      2
1639                MRI & MRA BRAIN, W/O CONTRAST      2
1693                       MRI BREAST BILAT W/O C      2
1851                  MRI NASO PHARYNX/SKULL BASE      2
1893            PRE-MRI ABDOMEN, SINGLE VIEW ONLY      1
2183                  MRI PELVIS WITHOUT CONTRAST      1

In [19]:
mask = df_radiology_procedures['DESCRIPTION'].str.contains('ULTRASOUND')
df_radiology_procedures[mask]

                    DESCRIPTION  count
696           SPLEEN ULTRASOUND     23
1198  ULTRASOUND, AAA SCREENING      6
1305   P SPLEEN ULTRASOUND PORT      5
1432          PENILE ULTRASOUND      4
1879            ANAL ULTRASOUND      1

In [22]:
mask = df_radiology_procedures['DESCRIPTION'].str.contains('CHEST')
df_radiology_procedures[mask]

                                           DESCRIPTION   count
0                                  CHEST (PORTABLE AP)  169270
1                                     CHEST (PA & LAT)   43158
3                           CHEST PORT. LINE PLACEMENT   21596
5                              CHEST (PRE-OP PA & LAT)    8064
6                                  CT CHEST W/CONTRAST    8001
...                                                ...     ...
2363                      CHEST PORTABLE LINE PLACMENT       1
2387               PO CHEST (SINGLE VIEW) PORT IN O.R.       1
2400   RP BABYGRAM CHEST DECUB ONLY (71035) RIGHT PORT       1
2419  OP CHEST FLUORO WITHOUT RADIOLOGIST IN O.R. PORT       1
2428                  O CHEST (LAT DECUB ONLY) IN O.R.       1

[131 rows x 2 columns]

In [28]:
# contains 'CHEST' but not 'CT' or 'MRI'
mask = df_radiology_procedures['DESCRIPTION'].str.contains('CHEST') & ~df_radiology_procedures['DESCRIPTION'].str.contains('CT') & ~df_radiology_procedures['DESCRIPTION'].str.contains('MRI')
df_radiology_procedures[mask]

                                           DESCRIPTION   count
0                                  CHEST (PORTABLE AP)  169270
1                                     CHEST (PA & LAT)   43158
3                           CHEST PORT. LINE PLACEMENT   21596
5                              CHEST (PRE-OP PA & LAT)    8064
15                               BABYGRAM (CHEST ONLY)    4412
...                                                ...     ...
2363                      CHEST PORTABLE LINE PLACMENT       1
2387               PO CHEST (SINGLE VIEW) PORT IN O.R.       1
2400   RP BABYGRAM CHEST DECUB ONLY (71035) RIGHT PORT       1
2419  OP CHEST FLUORO WITHOUT RADIOLOGIST IN O.R. PORT       1
2428                  O CHEST (LAT DECUB ONLY) IN O.R.       1

[115 rows x 2 columns]

In [29]:
# contains 'CHEST' but not 'CT' or 'MRI'
mask = df_radiology_procedures['DESCRIPTION'].str.contains('HEAD') & ~df_radiology_procedures['DESCRIPTION'].str.contains('CT') & ~df_radiology_procedures['DESCRIPTION'].str.contains('MRI')
df_radiology_procedures[mask]

                            DESCRIPTION  count
8              MR HEAD W & W/O CONTRAST   7062
16                 MR HEAD W/O CONTRAST   3603
21               NEONATAL HEAD PORTABLE   2914
83                  MR HEAD W/ CONTRAST    659
142   MR HEAD W/CNTRST&TUMOR VOLUMETRIC    312
221                       MR-ANGIO HEAD    169
447               MRV HEAD W/O CONTRAST     52
595                       MR HEAD NEURO     31
1099                      NEONATAL HEAD      8
1188      P NEONATAL HEAD PORTABLE PORT      6
1422       MR-ANGIO HEAD W/OUT CONTRAST      4
1656                      ADULT HEAD US      2
1750      MR HEAD W&W/OC FOR PTS W/ DBS      2
1796          MR-ANGIO HEAD W/ CONTRAST      2
2159     MR-ANGIO HEAD W & W/O CONTRAST      1
2197               MR HEAD & NECK ANGIO      1
2292               P ADULT HEAD US PORT      1

In [57]:
# group by subject_id and count the number of notes
df_radiology.groupby('SUBJECT_ID').size()

SUBJECT_ID
3        23
4        31
6        13
8         1
9        10
         ..
99973     8
99982    16
99991     5
99992     8
99995    13
Length: 37351, dtype: int64

In [45]:
print(df_radiology['TEXT'].iloc[0])

CCU NPN: PLEASE SEE FLOWSHEET FOR OBJECTIVE DATA

CARDIAC: REMAINS MOSTLY VPACED 80-90'S OCC TO RARE PVC'S.BP WAS 94-100/50-60 AFTER LASIX BP NOW 85/50 MAP 67. DR [**Last Name (STitle) 3551**] CALLED

RESP: NOW JUST WEARING 100%NRB OR BIPAP SATS TO HIGH 60'S TO 70'S OFF O2 ON O2 CAN BE 86-97

VOLUME STATUS: GIVEN LASIX AT 4PM WITH GOOD RESPONSE NOW NEGATIVE BY 460CC.

GU: UO 30-60CC/HR PRIOR TO LASIX.

GI: VERY POOR APETITE. DR [**Last Name (STitle) 396**] CAME BY AND SUGGESTED PARENTAL NUTRITION,BOTH LINES OF PICK HAVE BEEN USED.

SOCIAL: WIFE AND ONE OF HIS DAUGHTERS IN TO VISIT TODAY AND,
SPOKE WITH DR [**Last Name (STitle) **]. FAMILY AND PT WOULD LIKE PT TO BE TRANSFERRED BACK TO [**Hospital3 **].

In [46]:
print(df_radiology['TEXT'].iloc[2])

CSRU NPN

Neuro:  Propofol weaned to 10 mcg/kg/min.  Pt following commands, opens eyes minimally to request.  Denies pain by head nods.  Aggitated/restless at times-versed given w/ effect.  Left pupil 3mm, sluggish but reactive.

CV:  Attempted v pacing for HR initially in 60's nsr->BP down, no change in CI. HR up to 70's NSR with wakefulness.  APC's noted this afternoon.  Lytes repleted as needed.  Neo weaned to off w/ stable BP. Vasopressin continues. Milrinone at .125 mcg/kg/min.  MVO@ mainly in low 60's.  CI 1.8-2 via CCO, 2.75 by FICK. [** **] gtt increased to 800u/hr for PTT 61.8-repeat PTT pending.  Hct stable at 27.

Resp:  Weaned to CPAP w/ 12 IPS to maintain VT's approx 400cc, RR high teens at rest, up to 30's w/ aggitation.  CPAP ABG stable.  Suctioned for small amts clear to yellow sputum.

GI:  Abd soft, ND, hypoactive BS.  TF off x 4 hours for residuals of 130-170cc.  Reglan continues. Restarted criticare at 20cc/hr. No BM today.

GU:  u/o 5-20cc amber urine.  CVVHD continues with pt removal rate increased to 70cc/hr. CVVHD replacement fluid changed to D5W w/ 3 amps bicarb x 1 liter for metabolic acidosis.  Knee immobilizer to left leg d/t pt bending knees w/ restlessness.

ID:  Afebrile.  Levofloxacin cont's.

Endo:  Glucose controlled w/ insulin gtt titration.

Skin:  Intact to back/buttocks.  Dark area of eschar left lower leg unchanged from Monday.  Sternal and left leg incisions OTA, clean.  Right great toe eschar unchanged.

Social:  Husband called x 2 and updated on pt's condition.

A:  Stable CI and MVO2 with vent wean to CPAP.  Off neo w/ good BP.  Poor toleration of tube feeds.

P:  Rest on IMV overnight.  Propofol and versed to manage aggitation. Plan for doboff tube placement [**12-26**].  Per renal, CVVHD may be discontinued tomorrow.  Replete lytes prn.  Monitor acidosis.  Insulin gtt.  Monitor left lower leg eschar for worsening.

In [47]:
print(df_radiology['TEXT'].iloc[3])

RESPIRATORY NOTE:
SEDATION IS BEING WEANED, CONTINUED ON MECH VENT. WEANED TO CPAP/PSV, TOL WELL. SPONT VT 400'S,RR 20'S. SPO2 100% ON 40% FIO2.LUNGS SLIGHTLY [**Month (only) **] ON L.SX'D SM AMT OF WHITE SEC.PLAN TO REST PT ON SIMV RATE FOR THE NIGHT AND WEAN ON CPAP TOMORROW AS TOL.

In [17]:
text = df_radiology['TEXT'].iloc[2]

Data cleaning

In [19]:
import re

def remove_bracketed(text: str) -> str:
    """
    Removes bracketed expressions of the form [** ... **].
    """
    # Regex that matches '[' then '**' then any characters (non-greedy) until '**' then ']'
    cleaned_text = re.sub(r"\[\*\*.*?\*\*\]", "", text)
    return cleaned_text

cleaned_text = remove_bracketed(text)
print(cleaned_text)

 2:58 AM
 CT ABDOMEN W/CONTRAST; CT PELVIS W/CONTRAST                     Clip #
 CT,CORONAL,SAGITAL,OBL RECONSTRUCTION; CT 150CC NONIONIC CONTRAST
 Reason: evaluate for diverticulitis
  Contrast: OPTIRAY Amt: 150
 ______________________________________________________________________________
  MEDICAL CONDITION:
  77 year old woman with h/o diverticuli s/p recent admit with diverticulitis and
  lower GI bleed--CT showed thickening, stranding and paracolic fluid at left
  descending and prox. sigmoid colon worrisome for diverticulitis vs ischemic
  bowel vs hemorrhage into bowel wall. Presents with recurrent LLQ pain,
  diarrhea. Please evaluate for diverticulitis, perforation.
 REASON FOR THIS EXAMINATION:
  evaluate for diverticulitis
 ______________________________________________________________________________
                                 FINAL REPORT
 HISTORY:  Diverticulitis.

 TECHNIQUE:  Helically acquired CT images of the lung bases through the pubic
 symphysis with contrast.

 CT ABDOMEN WITH CONTRAST:  Comparison made to prior CT scan dated .
 There is again demonstrated at the lung bases a 3 mm calcified granuloma at
 the left base but otherwise the lungs are clear. There are no pleural
 effusions. The liver, spleen, pancreas, adrenals, and kidneys are
 unremarkable. Again seen is a large 4 cm gallbladder stone. The gallbladder
 otherwise appears unremarkable. The bowel and upper abdomen appear
 unremarkable. No free fluid is seen.

 CT PELVIS WITH CONTRAST:  There has been marked interval improvement in the
 thickened sigmoid colon seen in the prior study. There are numerous
 diverticula and minimal stranding in the sigmoid colon which is likely due to
 clearing residual disease. No free fluid is seen. The kidneys demonstrate
 bilateral symmetrical contrast excretion with the ureters seen to course the
 bladder with no filling defects. The bladder appears unremarkable. No free
 fluid is present. No focal fluid collections are identified.

 BONE WINDOWS:  Bone demonstrate no suspicious lytic or blastic lesions.

 IMPRESSION: 1) Interval improvement in patient's sigmoid disease as in
 .  There is mild stranding of sigmoid colon which likely is related to
 residua of prior disease but cannot rule out an early diverticulitis.

In [20]:
def basic_normalize(text: str) -> str:
    # Lowercase
    text = text.lower()
    # Remove extra spaces
    text = re.sub(r'\s+', ' ', text).strip()
    return text

normalized_text = basic_normalize(cleaned_text)
print(normalized_text)

2:58 am ct abdomen w/contrast; ct pelvis w/contrast clip # ct,coronal,sagital,obl reconstruction; ct 150cc nonionic contrast reason: evaluate for diverticulitis contrast: optiray amt: 150 ______________________________________________________________________________ medical condition: 77 year old woman with h/o diverticuli s/p recent admit with diverticulitis and lower gi bleed--ct showed thickening, stranding and paracolic fluid at left descending and prox. sigmoid colon worrisome for diverticulitis vs ischemic bowel vs hemorrhage into bowel wall. presents with recurrent llq pain, diarrhea. please evaluate for diverticulitis, perforation. reason for this examination: evaluate for diverticulitis ______________________________________________________________________________ final report history: diverticulitis. technique: helically acquired ct images of the lung bases through the pubic symphysis with contrast. ct abdomen with contrast: comparison made to prior ct scan dated . there is again demonstrated at the lung bases a 3 mm calcified granuloma at the left base but otherwise the lungs are clear. there are no pleural effusions. the liver, spleen, pancreas, adrenals, and kidneys are unremarkable. again seen is a large 4 cm gallbladder stone. the gallbladder otherwise appears unremarkable. the bowel and upper abdomen appear unremarkable. no free fluid is seen. ct pelvis with contrast: there has been marked interval improvement in the thickened sigmoid colon seen in the prior study. there are numerous diverticula and minimal stranding in the sigmoid colon which is likely due to clearing residual disease. no free fluid is seen. the kidneys demonstrate bilateral symmetrical contrast excretion with the ureters seen to course the bladder with no filling defects. the bladder appears unremarkable. no free fluid is present. no focal fluid collections are identified. bone windows: bone demonstrate no suspicious lytic or blastic lesions. impression: 1) interval improvement in patient's sigmoid disease as in . there is mild stranding of sigmoid colon which likely is related to residua of prior disease but cannot rule out an early diverticulitis.